.our-process {

  background-color: #030216;
  color: #ffffff;
  display: flex;
  justify-content: center;
  height: auto; /* Allow height to adjust dynamically */
  width: 100vw;
  .our-process-wrapper {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensure the content is centered on smaller screens */
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    .process-header {
      display: flex;
      text-align: left;
      align-items: center;
      gap: 15px;
      width: 100%;
      h2 {
        font-weight: 400;
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        color: #ffffff;
        letter-spacing: 0.1em;

        .section-number {
          font-weight: 400;
          font-family: "Inter", sans-serif;
          font-size: 1rem;
          color: #ff6a3d;
        }
      }

      .gradient-line {
        flex: 1; 
        height: 1px;
        background: linear-gradient(to right, rgb(76, 78, 104), black);
      }

      @media (max-width: 768px) {

        h2 {
          font-weight: 14px;
          .section-number{
            font-weight: 14px;
          }
        }
        .gradient-line {
          width: 50%; /* Makes the gradient line shorter on medium screens */
          margin: 1rem auto; /* Centers the line */
        }
      }

      @media (max-width: 480px) {
        h2 {
          font-weight: 14px;
        }
        .gradient-line {
          width: 40%; /* Further reduce the gradient line width on small screens */
        }
      }
    }

    .our-process-bottom {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 2.25rem;
        font-weight: 700;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 0.02em;
      }

      span {
        color: #ffffff;
        font-size: 1.125rem;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.02em;
      }

      .process-steps {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8rem;
        row-gap: 4rem;
        justify-content: center;
        margin-top: 3rem;
        background: radial-gradient(circle, #185466 0%, #030216 40%);

        @media (max-width: 768px) {
          grid-template-columns: repeat(1, 1fr); /* Stack process steps vertically on tablets */
          gap: 3rem;
          background: radial-gradient(circle, #030216 0%, #030216 40%);
         
        }

        @media (max-width: 480px) {
          grid-template-columns: repeat(1, 1fr); /* Stack process steps vertically on small screens */
          gap: 3rem;
          margin-top: 2rem;
          background: radial-gradient(circle, #030216 0%, #030216 40%);
         
        }

        .process-step {
          position: relative;
          z-index: 2;

          &:hover::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            // width: 28.125rem;
            // height: 18.75rem;
            width: 82%;
            height:  80%;
            background-color: #40b3ff;
            border-radius: 12px;
            transform: rotate(5deg);
            z-index: 0;
            padding: 2rem;
           
          }

          div {
            padding: 2rem;
            border-radius: 12px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
            border: 2px solid #f0f0f066;
            width: 82%;
            height:  83%;
            position: relative;
            z-index: 2;

            &:hover {
              background-color: #030216;
            }

            h3 {
              font-size: 1rem;
              color: #ffffff;
              margin: 0;
              position: relative;
              z-index: 2;
              font-family: "Open Sans", sans-serif;
              letter-spacing: 0.02em;
              font-weight: 600;
            }

            h4 {
              font-size: 1.125rem;
              color: #ffffff;
              font-weight: 600;
              margin-bottom: 1rem;
              position: relative;
              z-index: 2;
              font-family: "Open Sans", sans-serif;
              letter-spacing: 0.02em;
              font-weight: 400;
            }

            ul {
              list-style: none;
              padding: 0;
              position: relative;
              z-index: 2;

              li {
                font-size: 1rem;
                color: #ffffff;
                line-height: 1.5;
                margin-bottom: 0.5rem;
                display: flex;
                align-items: center;

                &:before {
                  content: "→";
                  color: #ffffff;
                  margin-right: 0.5rem;
                }
              }
            }
            @media (max-width: 768px) {
             
              h3 {
               font-size: 14px;
              }
              h4{
                font-size: 14px;
              }
              ul {
              
  
                li {
                  font-size: 12px;
                  color: #ffffff;
                  line-height: 1.5;
                  margin-bottom: 0.5rem;
                  display: flex;
                  align-items: center;
  
                  &:before {
                    content: "→";
                    color: #ffffff;
                    margin-right: 0.5rem;
                  }
                }
              }
            }
      
            @media (max-width: 480px) {
             
              h3 {
                font-size: 14px;
              }
              h4{
                font-size: 14px;
              }
              ul {
              
  
                li {
                  font-size: 12px;
                  color: #ffffff;
                  line-height: 1.5;
                  margin-bottom: 0.5rem;
                  display: flex;
                  // align-items: center;
  
                  &:before {
                    content: "→";
                    color: #ffffff;
                    margin-right: 0.5rem;
                  }
                }
              }
            }
          }
        }
      }
      @media (max-width: 768px) {
      
        h2 {
          display: none;
        }
        span {
          font-size: 12px;
          text-align: start;
          // margin-left: -50px;
        }
      }

      @media (max-width: 480px) {
       
        h2 {
          display: none;
        }
        span {
          font-size: 12px;
          text-align: start;
          // margin-left: -50px;
        }
      }
    }
  }
  @media (max-width: 480px) {
    .our-process-wrapper {
      width: calc(100vw - 25px);
      margin-left:0px;
      margin-right: 0px;
        }
  }
  /* Mobile View (max-width: 480px) */
  // @media (max-width: 768px) {
    

  //   .our-process-wrapper {
  //     // max-width: 100%;
  //   }

  //   .process-header {
  //     flex-direction: column;
  //     text-align: center;

  //     .gradient-line {
  //       width: 50%; /* Smaller gradient line for mobile view */
  //       margin: 1rem auto;
  //     }
  //   }

  //   .our-process-bottom {
  //     h2 {
  //       font-size: 1.75rem;
  //     }

  //     span {
  //       font-size: 1rem;
  //     }

  //     .process-steps {
  //       grid-template-columns: 1fr; /* Stack the steps vertically */
  //       gap: 3rem;
  //       background: radial-gradient(circle, #030216 0%, #030216 40%);
  //     }
  //   }
  // }

  // /* Extra Small Mobile View (max-width: 480px) */
  // @media (max-width: 480px) {
    
  //   .process-header {
  //     text-align: center;
  //     .gradient-line {
  //       width: 40%; /* Smaller gradient line on very small screens */
  //     }
  //   }

  //   .our-process-bottom {
  //     h2 {
  //       font-size: 1.5rem; /* Reduce font size for smaller screens */
  //     }

  //     span {
  //       font-size: 0.875rem;
  //     }

  //     .process-steps {
  //       gap: 2.5rem; /* Adjust gap between process steps */
  //       background: radial-gradient(circle, #030216 0%, #030216 40%);
        
  //     }
  //   }
  // }
}
