.pip-section {
    padding: 4rem;
    background-color: #030216;
    color: #ffffff;
    display: flex;
    justify-content: center;
    height: 614px;
    
  
    .pip-wrapper {
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: column;
      .pip-header {
        display: flex;
        text-align: left;
        align-items: center;
        gap: 15px;
        .section-number {
            font-weight: 400;
            font-family: "Inter", sans-serif;
            font-size: 1rem;
            color: #ff6a3d;
        }
  
        h2 {
            font-weight: 400;
            font-family: "Inter", sans-serif;
            font-size: 1rem;
            color: #ffffff;
            letter-spacing: 0.1em;
        }
  
        .gradient-line {
     
          height: 1px;
          
          width: 51.881rem;
         
            background: linear-gradient(to right, rgb(76, 78, 104), black);
        }
      }
  
      .pip-bottom {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h2 {
            font-size: 2.25rem;
            font-weight: 700;
            color: #ffffff;
            font-family: "Open Sans", sans-serif;
            letter-spacing: 0.02em;
           
        }
  
        span {
            color: #ffffff;
            font-size: 1rem;
            font-family: "Poppins", sans-serif;
            letter-spacing: 0.02em;
            text-align: center;
            max-width: 1000px;
        }
  
        .pip-content {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          margin-top: 3rem;
          .prev-btn,
          .next-btn {
            background: transparent;
            border: 1px solid #ffffff;
            border-radius: 12px;
            padding: 15px;
            width: 60px;
            height: 60px;
             font-size: 1.125rem;
            cursor: pointer;
            color: #27AED8;
            text-align: center;
            
          
          }
  
          .project-cards {
            display: flex;
            gap: 3rem;
  
            .project-card {
              width: 28.063rem;
              height: 22.5rem;
              border-radius: 12px;

              img {
                width: 28.063rem;
              height: 22.5rem;
              object-fit: cover;
                border-radius: 8px;
              }
            }
          }
        }
  
        .cta-button {
          margin-top: 3rem;
  
          button {
            background-color: #F47622;
            color: #FFFFFF;
            font-family: "Poppins", sans-serif;
            letter-spacing: 0.02em;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 2%;
            height: 60px;
            border-radius: 12px;
  
            &:hover {
              background: #ff4a1d;
            }
          }
        }
      }
    }
  }
  